<p-accordion [multiple]="true" class="w-full">
  @for (group of groupedAnnotations(); track group.type) {
  <p-accordion-panel [value]="group.type">
    <p-accordion-header>
      <div class="w-full flex align-items-center gap-3 pb-2 border-bottom-2 border-primary text-color">
        <span class="text-xl font-bold">{{ group.type }}</span>
        <p-chip class="text-sm" [label]="group.annotations.length.toString()" />
      </div>
    </p-accordion-header>
    <p-accordion-content>
      <div class="col-12 mx-0 flex flex-column gap-3">
        @for (annotation of group.annotations; track annotation.id) {
        <app-annotation-card [annotation]="annotation" />
        }
      </div>
    </p-accordion-content>
  </p-accordion-panel>
  }
</p-accordion>
