<p-menubar [model]="items" class="border-noround border-0 bg-gray-200 px-5" breakpoint="0px">
  <ng-template #start>
    <div class="pr-5">
      <a routerLink="/" class="flex items-center no-underline text-inherit">
        <h1 class="text-3xl m-0 font-bold tracking-widest text-primary">AWEN</h1>
      </a>
    </div>
    @if (!isHomeRoute()) {
    <app-back-button />
    }
  </ng-template>
  <ng-template #end>
    <app-create-entity />
    <!--    @if (header()) {-->
    <!--    <span class="text-2xl">{{ header() }}</span>-->
    <!--    } @else if (entityLoading()) {-->
    <!--    <p-skeleton width="5rem" height="1.5rem" />-->
    <!--    }-->
  </ng-template>
</p-menubar>
