<div class="grid justify-content-center mt-5">
  <div class="hidden md:block col"></div>
  <div class="col-12 md:col-8 lg:col-5 px-4 md:px-2 flex-order-1 md:flex-order-0">
    <app-filter-pane />
  </div>
  <div class="col flex md:justify-content-end px-4 md:px-2 flex-order-0 md:flex-order-1">
    <div class="flex md:mx-3">
      <app-create-entity />
    </div>
  </div>
</div>

<div class="grid justify-content-center">
  <div class="col-12 md:col-8 lg:col-5">
    <app-entity-list [entities]="entities()" [entitiesLoading]="loading()" height="60vh" />
  </div>
</div>
