.configMenuBar {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 1000;
}
:host {
  display: block;
  height: 100%;
}

.app-shell {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topbar {
  flex: 0 0 auto; // nimmt nur so viel Platz wie nötig
}

.app-content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-top-btn {
  position: fixed;
  bottom: 16px;
  left: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.scroll-top-btn.visible {
  opacity: 1;
  pointer-events: all;
}
