  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formgrid grid">
    <div class="field col-12">
      <p-auto-complete
        formControlName="search"
        [suggestions]="suggestions()"
        [invalid]="form.controls.search.invalid && form.controls.search.touched"
        (completeMethod)="autocompleteChanges($event)"
        fluid
        [showEmptyMessage]="showEmptyMessage()"
        optionLabel="label"
      />
      @if (form.controls.search.invalid && form.controls.search.touched) {
        <p-message severity="error" size="small" variant="simple" >Value is required to be longer then three characters.</p-message>
      }
    </div>
    <form [formGroup]="form.controls.collectionFilter" class="formgrid grid col-12 gap-2">
      @for (input of collectionFilterOptions(); track $index) {
        <div class="field col-5">
          <p-select
            [options]="input.values"
            [formControlName]="input.type"
            optionLabel="label"
            [placeholder]="'Select a ' + input.type"
            class="w-full" />
        </div>
      }
    </form>
    <div class="field col-12 flex justify-content-end">
      <p-button type="submitt" label="Search"/>
    </div>
  </form>
