@if (annotation().id) { @let annotationId = annotation().id!;

<div class="card p-0 w-full flex flex-row" style="min-height: 8rem">
  <div class="col-4 p-3 border-right-1 border-gray-200">
    <div class="text-lg font-bold mb-2">{{annotation().annotation.type}}</div>
    <div class="mb-3">
      <app-node-types [nodeTypes]="annotation().annotation.types" asChips />
    </div>
    <div>
      <app-property-list [properties]="annotation().annotation.properties" />
    </div>
  </div>
  <div class="col-8 p-3 max-h-30rem overflow-y-auto">
    @for (node of annotation().nodes; track node.id; let first = $first; let last = $last) {
    <app-connected-node [annotationId]="annotationId" [node]="node" [firstEntry]="first" [lastEntry]="last" />
    } @empty {
    <span class="text-gray-500">No connected nodes</span>
    }
  </div>
</div>
}
